.center{
  width: 90%;
  padding: 60px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.titulo {
  width: fit-content;
  height: 100px;
  padding: 50px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .05);
}

.titulo h1 {
  color: white;
  font-size: 50px;
}

.descripcion {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.descripcion img {
  width: 25%;
  height: 100%;
  border-radius: 12px;
}

.details {
  width: 60%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-radius: 12px;
}

.details h2 {
  font-size: 24px;
}

.details a {
  width: fit-content;
  height: fit-content;
  padding: 12px;
  background-color: rgb(255, 255, 255, .1);
  border-radius: 12px;
  font-size: 24px;
}

.back {
  padding: 14px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  background-color: rgb(255, 255, 255, 0.05);
  border-radius: 12px;
}

.back:hover {
  text-decoration: underline;
}

@media (max-width: 1020px) {
  .center {
    width: 100%;
  }
  .titulo {
    height: 50px;
    padding: 30px;
  }
  .titulo h1{
    font-size: 35px;
  }
}

@media (max-width: 840px) {
  .center {
    width: 100%;
    padding: 30px;
    gap: 30px;
  }
}

@media (max-width: 550px) {
  .center{
    padding: 20px;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .center {
    padding: 10px;
    gap: 10px;
  }
}