---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import './index.css'

---

<Layout>
	<div class="logo-section">
		<img class="logo" src='/assets/guerrero-indumentaria-logo.jpg' alt="">
	</div>
	<Welcome />
</Layout>
