.card {
  max-width: 600px;
  height: 900px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(133, 133, 133, 0.2);
  border-radius: 12px;
}

.descripcion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 40px;
}

.descripcion-texto {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  font-size: 28px;
}

.imagen-ropa {
  max-width: 500px;
  border-radius: 12px;
}

@media (max-width: 1020px) {
  .card {
    max-width: 400px;
    height: 550px;
    padding: 30px;
  }

  .descripcion {
    gap: 25px;
  }

  .descripcion-texto {
    font-size: 20px;
  }

  .imagen-ropa {
    max-width: 300px;
  }
}

@media (max-width: 840px) {

}

@media (max-width: 400px) {
  .card {
    max-width: 100%;
    max-height: 480px;
    padding: 10px;
    gap: 10px;
  }

  .descripcion {
    gap: 10px;
  }

  .descripcion-texto {
    font-size: 17px;
  }

  .imagen-ropa {
    max-width: 275px;
  }
}