.background {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 50px 50px;
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /*
  background-image: url('/assets/fondo-tuneado.jpg');
  background-size: 100%;
  background-repeat: round;
  */
}

.center{
  width: 90%;
  padding: 60px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.titulo {
  width: fit-content;
  height: 100px;
  padding: 50px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(83, 83, 83, 0.2);
}

.titulo h1 {
  color: white;
  font-size: 50px;
  text-decoration: underline;
}

@media (max-width: 1020px) {
  .center {
    width: 100%;
  }
  .titulo {
    height: 50px;
    padding: 30px;
  }
  .titulo h1{
    font-size: 35px;
  }
}

@media (max-width: 840px) {
  .center {
    width: 100%;
    padding: 30px;
    gap: 30px;
  }
}

@media (max-width: 550px) {
  .center{
    padding: 20px;
    gap: 20px;
  }
}