<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Catálogo online de Guerrero Indumentaria. La mejor ropa urbana para hombre y mujer con envíos a zona norte Buenos Aires" />
		<meta name="theme-color" content="#000000" />
		<meta name="robots" content="index, follow"/>
		<link rel="canonical" href="https://guerrero-indumentaria.netlify.app" />

		<title>Guerrero Indumentaria ⚔️</title>

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://guerrero-indumentaria.netlify.app" />
		<meta property="og:title" content="Guerrero Indumentaria ⚔️ Catálogo Online" />
		<meta property="og:description" content="Explora nuestra colección de indumentaria urbana. Hace tu pedido por Whatsapp!" />
		<meta property="og:image" content="https://guerrero-indumentaria.netlify.app/preview.jpg"/>

		<link rel="icon" type="image/png" href="/assets/favicon.png"/>

	</head>
	<body>
		<slot />
	</body>
</html>
